python-emailahoy
djangorestframework
django
itchat
email
django-celery
dwebsocket

js 部分：
 bootstrap-select // select多选
 jedate  //  日期插件
 jorgchart //  web界面显示组织结构图   如：  资产管理下的组织管理
 webssh //   这里直接使用了webssh整改项目里的 js ，如main.js, webssh也是基于xterm.js
 bootstrap js //
 jquery  
 bootstrap-fileinput //  文件上传组件js