{% extends "base/bootstrap.html" %}

{% block css %}
<link href="/static/css/task/task.css" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="/static/js/task/task.js"></script>
{% endblock %}

{% block right %}
<div class="col-md-10" style="padding:0px" id="breadcrumb">
  	<ul class="breadcrumb">
    	<li><a href="/"><i class="glyphicon glyphicon-home"></i>Home</a></li>
    	<li>作业中心</li>
    	<li>命令执行</li>
	</ul>
</div>

<div class="col-md-10" id="describe-head">
	<div class="host-group">
		<h3 id="host-group-title">主机组</h3>
		<span style="background-color:#4ebcda;color:white;line-height:25px;font-size:15px;display:inline-block;">已选主机12台</span>
		<div id="host-group-button">
			<button>展开</button>
			<button>收缩</button>
			<button>全选</button>
			<button>取消全选</button>
		</div>
		<div class="host-group-detail">
			<span>未分类主机 [3]</span>
			<div class="host-group-detail-button">
				<button>选择</button>
				<button>收缩</button>
			</div>
			<table>
				<tr>
					<td><input type="checkbox"></td>
					<td>192.168.10.2</td>
					<td style="color:#00CC33;">在线</td>
				</tr>	
				<tr>
					<td><input type="checkbox"></td>
					<td>192.168.10.2</td>
					<td style="color:#00CC33;">在线</td>
				</tr>
				<tr>
					<td><input type="checkbox"></td>
					<td>192.168.10.2</td>
					<td style="color:red;">离线</td>
				</tr>			
			</table>
		</div>
		
		<div class="host-group-detail">
			<span>DevOps [3]</span>
			<div class="host-group-detail-button">
				<button>选择</button>
				<button>收缩</button>
			</div>
			<table>
				<tr>
					<td><input type="checkbox"></td>
					<td>192.168.10.2</td>
					<td style="color:#00CC33;">在线</td>
				</tr>	
				<tr>
					<td><input type="checkbox"></td>
					<td>192.168.10.2</td>
					<td style="color:red;">离线</td>
				</tr>			
			</table>
		</div>
		
		<div class="host-group-detail">
			<span>Web Host [9]</span>
			<div class="host-group-detail-button">
				<button>选择</button>
				<button>展开</button>
			</div>
			<table>

			</table>
		</div>
		
	</div>
	
	<div class="cmd-execute-area">
		<div><span style="font-size:18px;">执行命令</span></div>
		<div class="execute-model">
			<button class="btn btn-info">shell模式执行</button>
			<button class="btn btn-info">ansible-playbook模式执行</button>
		</div>
		<div class="shell-input">
			<div>
				<textarea rows="2" cols="100"></textarea>
			</div>
			<div>
				<button class="shell-execute-button"><i class="glyphicon glyphicon-cog"></i>执行命令</button>
			</div>
		</div>
		
		<div class="ansible-playbook-input">
			<input>
		</div>
		
		<div>
			<span style="font-size:18px;">执行结果</span>
			<div style="margin:5px 30px;">
				<button disabled class="task-id">任务ID:21</button>
				<button disabled class="task-acount">总任务10</button>
				<button disabled class="task-finished">已完成7</button>
				<button disabled class="task-failed">失败3</button>
				<button class="task-expand-collapse"><span class="pull-right glyphicon glyphicon-chevron-left"></span>收缩/展开</button>
			</div>
			<div id="execute-result-area">
				<div class="execute-result">
					<span><img alt="" src="/static/images/expand_12px.png"></span>
					<span>keystone [192.168.10.2]</span>
					<span class="result-col">Result:</span>
					<span class="status-col-success">success</span>
					<pre>timed out</pre>
				</div>
				<div class="execute-result">
					<span><img alt="" src="/static/images/collapse_12px.png"></span>
					<span>keystone [192.168.10.2]</span>
					<span class="result-col">Result:</span>
					<span class="status-col-failed">failed</span>
					<pre style="display:block;">Filesystem                     Size  Used Avail Use% Mounted on
	/dev/mapper/vg_system-lv_root  4.0G  1.2G  2.9G  28% /
					</pre>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
