{% extends "base/bootstrap.html" %}

{% block css %}
<link href="/static/css/task/cron.css" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="/static/js/task/cron.js"></script>
{% endblock %}

{% block right %}
<div class="col-md-10" style="padding:0px" id="breadcrumb">
  	<ul class="breadcrumb">
    	<li><a href="/"><i class="glyphicon glyphicon-home"></i>Home</a></li>
    	<li>作用中心</li>
    	<li>定时任务</li>
	</ul>
</div>

<div class="col-md-10" id="describe-head">
	<div>
		<h3 id="describe-title">定时任务</h3>
		<span style="font-size:12px;color:#9b9b9b;margin-left:18px;">可以创建、删除定时任务</span>
	</div>
	<div>
		<div id="image-menu">
			<div style="border-bottom:2px solid #2d8cf0;color:#2d8cf0">任务列表</div>
			<div>执行记录</div>
		</div>
		<div id="image-detail">
			<div class="image-detail" style="display:block;">
				<button id="add-button" type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>创建任务</button>
				<div id="component-list">
					<table class="table table-bordered">
					  <thead>
					    <tr>
					      <th>ID</th>
					      <th>名称</th>
					      <th>类型</th>
					      <th>关联主机组</th>
					      <th>执行周期</th>
					      <th>执行时间</th>
					      <th>状态</th>
					      <th>管理操作</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td><a href="{% url 'task_detail' pk='1' %}">1</a></td>
					      <td>清理nginx日志</td>
					      <td>日志清理</td>
					      <td>web</td>
					      <td>1/day</td>
					      <td>0 4 * * * (m/h/d/dM/MY)</td>
					      <td><span style="color:#00CC33;">已启用</span></td>
					      <td>
					      	<span>修改</span>
					      	<span>|</span>
					      	<span>删除</span>
					      </td>
					     </tr>
					  </tbody>
					  <tbody>
					    <tr>
					      <td>2</td>
					      <td>备份mysql数据</td>
					      <td>数据备份</td>
					      <td>mysql</td>
					      <td>30/second</td>
					      <td>0 4 * * * (m/h/d/dM/MY)</td>
					      <td><span style="color:red;">未启用</span></td>
					      <td>
					      	<span>修改</span>
					      	<span>|</span>
					      	<span>删除</span>
					      </td>
					     </tr>
					  </tbody>
					</table>
				</div>
			</div>
			
			<div class="image-detail">
				<button id="add-button" type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>创建任务</button>
				<div id="component-list">
					<table class="table table-bordered">
					  <thead>
					    <tr>
					      <th>任务ID</th>
					      <th>名称</th>
					      <th>类型</th>
					      <th>总任务</th>
					      <th>已完成</th>
					      <th>失败</th>
					      <th>结束时间</th>
					      <th>耗时</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td><a href="{% url 'task_record' pk='1d239e' %}">1d239e</a></td>
					      <td>清理nginx日志</td>
					      <td>日志清理</td>
					      <td><span style="color:blue;">10</span></td>
					      <td><span style="color:#00FF00;">7</span></td>
					      <td><span style="color:red;">3</span></td>
					      <td>2018-05-07 23:47:23</td>
					      <td>1分钟</td>
					     </tr>
					  </tbody>
					</table>
				</div>
			</div>
			
		</div>
	</div>
</div>

{% endblock %}
