{% extends "base/bootstrap.html" %}

{% block css %}
<link href="/static/css/task/cron.css" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="/static/js/task/cron.js"></script>
{% endblock %}

{% block right %}
<div class="col-md-10" style="padding:0px" id="breadcrumb">
  	<ul class="breadcrumb">
    	<li><a href="/"><i class="glyphicon glyphicon-home"></i>Home</a></li>
    	<li>作用中心</li>
    	<li><a href="/task/cron/">定时任务</a></li>
    	<li>执行记录</li>
	</ul>
</div>

<div class="col-md-10" id="describe-head">
	<div>
		<h3 id="describe-title">执行记录</h3>
		<span style="font-size:12px;color:#9b9b9b;margin-left:18px;">任务执行成功失败详情</span>
	</div>
	<div>
		<div id="image-menu">
		</div>
		<div id="image-detail">
			<div class="image-detail" style="display:block;">
				<div id="component-list">
					<div id="execute-result-title">
						<button disabled class="task-id">任务ID:1d239e</button>
						<button disabled class="task-acount">总任务10</button>
						<button disabled class="task-finished">已完成7</button>
						<button disabled class="task-failed">失败3</button>
						<button class="task-expand-collapse"><span class="pull-right glyphicon glyphicon-chevron-left"></span>收缩/展开</button>
					</div>
					<div id="execute-result-area">
						<div class="execute-result">
							<span><img alt="" src="/static/images/expand_12px.png"></span>
							<span>keystone [192.168.10.2]</span>
							<span class="result-col">Result:</span>
							<span class="status-col-success">success</span>
							<pre>timed out</pre>
						</div>
						<div class="execute-result">
							<span><img alt="" src="/static/images/collapse_12px.png"></span>
							<span>keystone [192.168.10.2]</span>
							<span class="result-col">Result:</span>
							<span class="status-col-failed">failed</span>
							<pre style="display:block;">Filesystem                     Size  Used Avail Use% Mounted on
/dev/mapper/vg_system-lv_root  4.0G  1.2G  2.9G  28% /
							</pre>
						</div>
					</div>
				</div>
			</div>
			
			<div class="image-detail">
				<button id="add-button" type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>创建任务</button>
				<div id="component-list">
					<table class="table table-bordered">
					  <thead>
					    <tr>
					      <th>任务ID</th>
					      <th>名称</th>
					      <th>类型</th>
					      <th>总任务</th>
					      <th>已完成</th>
					      <th>失败</th>
					      <th>结束时间</th>
					      <th>耗时</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td>1d239e</td>
					      <td>清理nginx日志</td>
					      <td>日志清理</td>
					      <td><span style="color:blue;">10</span></td>
					      <td><span style="color:#00FF00;">7</span></td>
					      <td><span style="color:red;">3</span></td>
					      <td>2018-05-07 23:47:23</td>
					      <td>1分钟</td>
					     </tr>
					  </tbody>
					</table>
				</div>
			</div>
			
		</div>
	</div>
</div>

{% endblock %}
