#component-list{
	margin-top:10px;
}

.btn{
	font-size:12px;
	padding:3px 6px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 6px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

#modal-body{
	text-align:center;
}

#mySuccessAlert,#myFailureAlert{
	display:none;
}

.alert{
	position:absolute;
	margin-left:1065px;
	width:300px;
	height:60px;
}

#describe-head{
	border-radius:4px;
	margin-left:15px;
	height:555px;
	width:1105px;
	overflow:auto;
}

#describe-title{
	display: inline-block;
	font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

#image-menu{
	border-bottom:1px solid #d7dde4;
}

#image-menu div{
	padding:5px;
	width:70px;
	display:inline-block;
	cursor:pointer;
}

#image-detail{
	margin-top:8px;
}

#add-button{
	font-size:12px;
	background-color:#2d8cf0;
	border-color: #2d8cf0;
	
}
.add-underline{
	border-bottom:2px solid #2d8cf0;
	color:#2d8cf0;
}

.image-detail{
	display:none;
}

/*
---------------------------定时任务执行记录详情显示部分CSS-----------------------
 */

#execute-result-title{
	margin:5px 15px;
}

#execute-result-area{
	height:455px;
	overflow:auto;
}

.execute-result{
	 margin:5px 15px;
}

.task-id,.task-acount,.task-finished,.task-failed,.task-expand-collapse{
	color:white;
	border:none;
	border-radius:15px;
}

.task-id{
	background-color:#828282;
}

.task-acount{
	background-color:#64a1da;
}

.task-finished{
	background-color:#5cb85c;
}

.task-failed{
	background-color:#f26c4b;
}

.task-expand-collapse{
	background-color:#828282;
}

.execute-result span{
	display:inline-block;
	
}

.execute-result pre{
	display:none;
}

.result-col{
	font-weight:bold;
}

.status-col-failed{
	background-color:#f26c4b;
	text-align:center;
	width:55px;
	border-radius:15px;
	color:white;
}

.status-col-success{
	background-color:#5cb85c;
	text-align:center;
	width:55px;
	border-radius:15px;
	color:white;
}
/*
---------------------------end 定时任务执行记录详情显示部分CSS-----------------------
 */