{% extends "base/bootstrap.html" %}

{% block css %}
<link href="/static/css/monitor/monitor.css" rel="stylesheet">
<link href="/static/jedate-6.0.2/skin/jedate.css" rel="stylesheet">
{% endblock %}

{% block js %}
<script src="/static/js/monitor/graph.js"></script>
<script src="/static/jedate-6.0.2/jquery.jedate.min.js"></script>
<script src="/static/js/base/echarts.min.js"></script>
{% endblock %}

{% block right %}
<div class="col-md-10" style="padding:0px">
  	<ul class="breadcrumb">
    	<li><a href="/"><i class="glyphicon glyphicon-home"></i>Home</a></li>
    	<li>配置中心</li>
    	<li class="active">图形展示</li>
	</ul>
</div>

<div class="col-md-10" id="zabbix_config" style="padding:0px;">
	<div style="border-bottom:1px solid #d7dde4;padding-left:15px;">
		<div style="display:inline-block;">
			<h4 id="zabbix-title">图形展示</h4>
			<span style="font-size:12px;color:#9b9b9b;margin-left:18px;">使用百度echarts插件</span>
		</div>
		<div style="display:inline-block;margin-left:200px;margin-top:20px;">
			<span>主机</span>
			<select>
				<option>keystone</option>
				<option>glance</option>
			</select>
		</div>
		<div style="display:inline-block;margin-left:15px;margin-top:20px;">
			<span>图形</span>
			<select>
				<option>All</option>
				<option>CPU</option>
				<option>内存</option>
				<option>磁盘</option>
				<option>网络</option>
			</select>
		</div>
		<div style="display:inline-block;margin-left:10px;margin-top:20px;">
			<span>时间段:</span>
			<span><input type="text" class="dateinfo_start"></span>
			<span> - </span>
			<span><input type="text" class="dateinfo_end"></span>
			<script type="text/javascript">
    		$(".dateinfo_start").jeDate({
    			isinitVal:true,
    		    initDate:[{mm:"-10"},true],
    		    minDate:'2017-06-16 10:20:25', 
    		    maxDate:'2019-06-16 18:30:35', 
    			format: 'YYYY-MM-DD hh:mm:ss'
		    })
		    $(".dateinfo_end").jeDate({
    			isinitVal:true,
    		    minDate:'2017-06-16 10:20:25', 
    		    maxDate:'2019-06-16 18:30:35', 
    			format: 'YYYY-MM-DD hh:mm:ss'
		    })
			</script>
		</div>
	</div>
	<div style="padding-left:20px;">
		<div id="cpu" style="display:inline-block;width: 500px;height:250px;"></div>
		<div id="mem" style="display:inline-block;width: 500px;height:250px;"></div>
		<div id="disk" style="display:inline-block;width: 500px;height:230px;"></div>
		<div id="net" style="display:inline-block;width: 500px;height:230px;"></div>
	</div>
</div>

{% endblock %}
