{% extends "base/bootstrap.html" %}

{% block css %}
<link href="/static/css/platformcenter/component.css" rel="stylesheet" />
{% endblock %}

{% block right %}
<div class="col-md-10" style="padding:0px">
  	<ul class="breadcrumb">
    	<li><a href="/"><i class="glyphicon glyphicon-home"></i>Home</a></li>
    	<li>资产管理</li>
	</ul>
</div>

<div class="col-md-10" id="table-head">
	<div id="component-title">
		<span>资产列表</span>
		<div id="add-component">
			<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default"><span class="glyphicon glyphicon-plus">新增资产</span></button>
		</div>
	</div>
	
<!-- 输入模态框（Modal） -->
<form action="" id="component-form">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					添加资产
				</h4>
			</div>
			<div class="modal-body">
		        <div class="form-group">
		            <label>IP地址</label>
		            <input type="text" name="address" class="form-control">
		        </div>
		        <div class="form-group">
		           <label>进行信息收集</label>
		        </div>
		        <div class="checkbox">
				    <label style="margin-left:10px;">
				      <input type="radio" name="collection" value="yes">是
				    </label>
				    <label style="margin-left:50px;">
				      <input type="radio" name="collection" value="no">否
				    </label>
			   </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" onclick="save_asset(this);" data-toggle="modal" data-target="#myinstall"  data-dismiss="modal" class="btn btn-primary">确定</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
</form>

<!-- 收集模态框（Modal） -->	
<div class="modal fade" id="myinstall" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">
					正在收集<span id="deploy-host"></span>主机信息
				</h4>
			</div>
			<div class="modal-body" id="modal-body">
				<span id="deploying">收集中...</span>
				<span id="deploy-success" style="color:green;font-size:16px;font-weight:bold;"></span>
				<span id="deploy-failure" style="color:red;font-size:16px;font-weight:bold;"></span>
				<div><img alt="" src="/static/images/installing.gif"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary disabled" onclick="collection_finish();">完成</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
	
	<div id="component-list">
		<table class="table table-bordered">
		  <thead>
		    <tr>
		      <th>主机名</th>
		      <th>IP地址</th>
		      <th>系统版本</th>
		      <th>CPU</th>
		      <th>内存</th>
		      <th>磁盘</th>
		      <th>docker版本</th>
		      <th>docker驱动</th>
		      <th>docker目录</th>
		      <th>创建时间</th>
		      <th>状态</th>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody style="max-height:200px;overflow-y: scroll;">
		  {% for host in hosts.pagedata %}
		    <tr>
		      <td>{{ host.hostname|default_if_none:'-' }}</td>
		      <td>{{ host.address|default_if_none:'  -' }}</td>
		      <td>{{ host.sversion|default_if_none:'  -' }}</td>
		      <td>{{ host.cpu|default_if_none:'  -' }}</td>
		      <td>{{ host.mem|default_if_none:'  -' }}</td>
		      <td>{{ host.disk|default_if_none:'  -' }}</td>
		      <td>{{ host.dversion|default_if_none:'  -' }}</td>
		      <td>{{ host.ddriver|default_if_none:'  -' }}</td>
		      <td>{{ host.ddata|default_if_none:'  -' }}</td>
		      <td>{{ host.createtime|date:'Y/m/d H:i:s' }}</td>
		      {% ifequal host.status 'up' %}
			  <td><span style="background-color:#006400;color:white;">up</span></td>
			  {% else %}
			  <td><span style="background-color:#880000;color:white;">down</span></td>
			  {% endifequal %}
		      <td onclick="delete_asset_ask(this);"><button type="button" data-toggle="modal" data-target="#mydelete" data-dismiss="modal" class="btn btn-warning"><i class="glyphicon glyphicon-trash"></i></button></td>
		    </tr>
		    {% endfor %}
		  </tbody>
		</table>
	</div>
</div>

<!-- 删除模态框（Modal） -->	
<div class="modal fade" id="mydelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			</div>
			<div class="modal-body" id="modal-body">
				<h4 id="delete-component">确定删除<span id="delete-host"></span>这条资产?</h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="delete_asset_ensure();">确定</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<!-- 删除结果（Alert） -->	
<div id="mySuccessAlert" class="alert alert-success">
	<a href="#" class="close">&times;</a>
	<strong>删除成功！</strong>
</div>
<div id="myFailureAlert" class="alert alert-warning">
	<a href="#" class="close">&times;</a>
	<strong>删除失败！</strong><span id='delete-failure'></span>。
</div>


<div class="col-md-10" id="component-footer">
	<ul class="pager">
    	<li><a href="#">&laquo;</a></li>
    	<li>| Page <input disabled type="text" name="pagenum" value="{{ hosts.pagenum }}" style="width:30px;text-align:center;"> of {{ hosts.pagecount }} |</li>
    	<li><a href="#">&raquo;</a></li>
    	<li>
    		<select name="datarow" style="height:25px;" onchange="change_data_row(this);">
    			<option>5</option>
    			<option>10</option>
    			<option>15</option>
    		</select>
    	</li>
    	<li style="margin-left:20px;">共  {{ hosts.itemcount }} 条数据</li>
	</ul>
</div>



{% endblock %}

{% block js %}
<script src="/static/js/asset/asset.js"></script>
<script>
$(function(){
	$(".close").click(function(){
		$(this).parent().css('display','none');
	});
});  

$(function(){
    $("[data-toggle='popover']").popover(
    {
    	trigger:'click', //触发方式
        html: true, // 为true的话，data-content里就能放html代码了
        content: function() {
            return $('#component-footer').html();
          }
    }		
    );
});

</script>
{% endblock %}