{% extends "base/bootstrap.html" %}

{% block css %}
<link href="/static/css/asset/asset_detail.css" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="/static/js/asset/asset.js"></script>
<script>
function control_onoffswitch(){
	var onobj=$(".onoffswitch-on")[0];
	var offobj=$(".onoffswitch-off")[0];
	if($(onobj).css('color') == 'rgb(255, 255, 255)'){
		$(onobj).css('color','#DDD');
		$(onobj).css('background-color','#fff');
		$(offobj).css('color','#fff');
		$(offobj).css('background-color','#00DDAA');
	}else{
		$(offobj).css('color','#DDD');
		$(offobj).css('background-color','#fff');
		$(onobj).css('color','#fff');
		$(onobj).css('background-color','#00DDAA');
	}
}
</script>
{% endblock %}

{% block right %}
<div class="col-md-10" style="padding:0px" id="breadcrumb">
  	<ul class="breadcrumb">
    	<li><a href="/"><i class="glyphicon glyphicon-home"></i>Home</a></li>
    	<li>资产管理</li>
    	<li>资产详情</li>
	</ul>
</div>

<div class="col-md-10" id="describe-head">
	<div id="asset-header">
		<div id="asset-header-title"><i class="glyphicon glyphicon-info-sign"></i>{{host.hostname}}资产详情</div>
		<div id="asset-button">
			<a id="asset-delete" type="button"><i class="glyphicon glyphicon-trash"></i> 删除</a>
			<a id="asset-update" type="button"><i class="glyphicon glyphicon-edit"></i> 更新</a>
		</div>
	</div>
	<div>
		<div id="asset-detail">
			<table class="table">
			  <thead>
			   	<tr>
			     	<td>主机名:</td>
			     	<td>{{host.hostname}}</td>
			    </tr>
			    <tr>
			     	<td>IP:</td>
			     	<td>{{host.address}}</td>
			    </tr>
			    <tr>
			     	<td>公网IP:</td>
			     	<td>{{host.address}}</td>
			    </tr>
			    <tr>
			     	<td>制造商:</td>
			     	<td>VMware</td>
			    </tr>
			    <tr>
			     	<td>型号:</td>
			     	<td> Virtual Machine</td>
			    </tr>
			    <tr>
			     	<td>CPU(核):</td>
			     	<td>{{host.cpu}}</td>
			    </tr>
			    <tr>
			     	<td>内存:</td>
			     	<td>{{host.mem}}</td>
			    </tr>
			    <tr>
			     	<td>硬盘:</td>
			     	<td>100G</td>
			    </tr>
			    <tr>
			     	<td>docker版本:</td>
			     	<td>{{host.dversion}}</td>
			    </tr>
			    <tr>
			     	<td>docker存储驱动:</td>
			     	<td>{{host.dversion}}</td>
			    </tr>
			    <tr>
			     	<td>docker目录:</td>
			     	<td>{{host.ddata}}</td>
			    </tr>
			    <tr>
			     	<td>docker目录可用:</td>
			     	<td>{{host.disk}}</td>
			    </tr>
			    <tr>
			     	<td>创建者:</td>
			     	<td>admin</td>
			    </tr>
			    <tr>
			     	<td>创建日期:</td>
			     	<td>{{host.createtime|date:'Y-m-d H:i:s'}}</td>
			    </tr>
			  </thead>
			</table>
		</div>
		
		<div id="asset-modify">
			<div id="asset-modify-header"><i class="glyphicon glyphicon-info-sign"></i> 快速修改</div>
			<div id="asset-modify-detail">
				<table class="table" >
					<thead>
					<tr>
						<td>上线</td>
						<td>
							<label class="onoffswitch-label" onclick="control_onoffswitch();">
								<span class="onoffswitch-on">ON</span>
								<span class="onoffswitch-off">OFF</span>
							</label>
						</td>
					</tr>
					<tr>
						<td>测试可连接性</td>
						<td>
							<span class="connect-test">测试</span>
						</td>
					</tr>
					</thead>
				</table>
			</div>
		</div>
		
		<div id="asset-user">
			<div id="asset-user-header"><i class="glyphicon glyphicon-info-sign"></i> 资产关联系统帐号</div>
			<div id="asset-user-detail">
				<table class="table">
					<thead>
						<tr>
							<th>帐号</th>
							<th>属组</th>
							<th>备注</th>
							<th>过期时间</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>apache</td>
							<td>web</td>
							<td>apache服务帐号</td>
							<td>2018-5-28 19:20:20</td>
						</tr>
						<tr>
							<td>docker</td>
							<td>docker</td>
							<td>容器管理账号</td>
							<td>2018-5-28 19:20:20</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div id="asset-group">
			<div id="asset-group-header"><i class="glyphicon glyphicon-info-sign"></i> 资产所属部门</div>
			<div id="asset-group-detail">
				<table class="table">
					<thead>
						<tr>
							<th>部门</th>
							<th>使用者</th>
							<th>备注</th>
							<th>分配时间</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>开发部门</td>
							<td>杨旭</td>
							<td>web应用部署</td>
							<td>2018-5-28 19:20:20</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
	</div>
</div>
{% endblock %}
