{% extends "base/bootstrap.html" %}

{% block css %}
<link href="/static/css/asset/asset.css" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="/static/js/asset/asset.js"></script>
{% endblock %}

{% block right %}
<div class="col-md-10" style="padding:0px">
  	<ul class="breadcrumb">
    	<li><a href="/"><i class="glyphicon glyphicon-home"></i>Home</a></li>
    	<li>资产管理</li>
    	<li>系统帐号</li>
	</ul>
</div>

<div class="col-md-10" id="describe-head">
	<div>
		<h3 id="describe-title">系统帐号</h3>
		<span style="font-size:12px;color:#9b9b9b;margin-left:18px;">可以添加绑定、删除主机系统帐号</span>
	</div>
	<div>
		<div id="image-menu">
			<div style="border-bottom:2px solid #2d8cf0;color:#2d8cf0">用户列表</div>
		</div>
		<div id="image-detail">
			<div class="image-detail" style="display:block;">
				<button id="add-button" type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>创建系统用户</button>
				<div id="component-list">
					<table class="table table-bordered">
					  <thead>
					    <tr>
					      <th>主机名</th>
					      <th>IP地址</th>
					      <th>部门</th>
					      <th>使用人</th>
					      <th>绑定用户</th>
					      <th>创建时间</th>
					      <th>状态</th>
					      <th>动作</th>
					    </tr>
					  </thead>
					  <tbody style="max-height:200px;overflow-y: scroll;">
					  {% for host in hosts.pagedata %}
					    <tr>
					      <td><a href="{% url 'asset_detail' host=host.hostname %}">{{ host.hostname|default_if_none:'-' }}</a></td>
					      <td>{{ host.address|default_if_none:'  -' }}</td>
					      <td>开发部门</td>
					      <td>杨旭</td>
					      <td>
					      	<select>
					      		<option>root</option>
					      		<option>yangxu</option>
					      	</select>
					      </td>
					      <td>{{ host.createtime|date:'Y/m/d H:i:s' }}</td>
					      {% ifequal host.status 'up' %}
						  <td>
						  	<button class="btn btn-success">在线</button>
						  </td>
						  {% else %}
						  <td>
						  	<button class="btn" style="color:white;">下线</button>
						   	</td>
						  {% endifequal %}
					      <td>
					      <button type="button" id="terminal" onclick="terminal_connect(this)" class="btn btn-info">Login</button>
					      </td>
					    </tr>
					    {% endfor %}
					  </tbody>
					</table>
				</div>
			</div>
			
		</div>
	</div>
</div>
<!--  
<div class="col-md-10" id="component-footer">
	<ul class="pager">
    	<li><a href="#">&laquo;</a></li>
    	<li>| Page <input disabled type="text" name="pagenum" value="{{ hosts.pagenum }}" style="width:30px;text-align:center;"> of {{ hosts.pagecount }} |</li>
    	<li><a href="#">&raquo;</a></li>
    	<li>
    		<select name="datarow" style="height:25px;" onchange="change_data_row(this);">
    			<option>5</option>
    			<option>10</option>
    			<option>15</option>
    		</select>
    	</li>
    	<li style="margin-left:20px;">共  {{ hosts.itemcount }} 条数据</li>
	</ul>
</div>
-->
	
<!-- 输入模态框（Modal） -->
<form action="" id="component-form">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					添加资产
				</h4>
			</div>
			<div class="modal-body">
		        <div class="form-group">
		            <label>IP地址</label>
		            <input type="text" name="address" class="form-control">
		        </div>
		        <div class="form-group">
		           <label>进行信息收集</label>
		        </div>
		        <div class="checkbox">
				    <label style="margin-left:10px;">
				      <input type="radio" name="collection" value="yes">是
				    </label>
				    <label style="margin-left:50px;">
				      <input type="radio" name="collection" value="no">否
				    </label>
			   </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" onclick="save_asset(this);" data-toggle="modal" data-target="#myinstall"  data-dismiss="modal" class="btn btn-primary">确定</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
</form>

<!-- 收集模态框（Modal） -->	
<div class="modal fade" id="myinstall" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">
					正在收集<span id="deploy-host"></span>主机信息
				</h4>
			</div>
			<div class="modal-body" id="modal-body">
				<span id="deploying">收集中...</span>
				<span id="deploy-success" style="color:green;font-size:16px;font-weight:bold;"></span>
				<span id="deploy-failure" style="color:red;font-size:16px;font-weight:bold;"></span>
				<div><img alt="" src="/static/images/installing.gif"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary disabled" onclick="collection_finish();">完成</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<!-- 删除模态框（Modal） -->	
<div class="modal fade" id="mydelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			</div>
			<div class="modal-body" id="modal-body">
				<h4 id="delete-component">确定删除<span id="delete-host"></span>这条资产?</h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="delete_asset_ensure();">确定</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<!-- 删除结果（Alert） -->	
<div id="mySuccessAlert" class="alert alert-success">
	<a href="#" class="close">&times;</a>
	<strong>删除成功！</strong>
</div>
<div id="myFailureAlert" class="alert alert-warning">
	<a href="#" class="close">&times;</a>
	<strong>删除失败！</strong><span id='delete-failure'></span>。
</div>

{% endblock %}
