{% extends "base/bootstrap.html" %}

{% block css %}
<!--  
<link href="/static/webssh/img/favicon.png" rel="icon" type="image/png">
<link href="/static/webssh/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>-->
<link href="/static/webssh/css/xterm.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/webssh/css/fullscreen.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/css/asset/asset.css" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="/static/webssh/js/jquery.min.js"></script>
<script src="/static/webssh/js/popper.min.js"></script>
<script src="/static/webssh/js/bootstrap.min.js"></script>
<script src="/static/webssh/js/xterm.min.js"></script>
<script src="/static/webssh/js/fullscreen.min.js"></script>
<script src="/static/webssh/js/main.js"></script>
<script src="/static/js/asset/asset.js"></script>
{% endblock %}

{% block right %}
<div class="col-md-10" style="padding:0px" id="breadcrumb">
  	<ul class="breadcrumb">
    	<li><a href="/"><i class="glyphicon glyphicon-home"></i>Home</a></li>
    	<li>资产管理</li>
    	<li><a href="/asset/host/">资产列表</a></li>
    	<li>远程连接</li>
	</ul>
</div>

<div class="col-md-10" id="describe-head">
	<div>
		<div id="connect-notify" style="display:inline-block;color:blue;">正在远程使用<span>{{address}}...</span></div>
		<div id="connect-button" style="display:inline-block;margin-left:250px;margin-top:5px;"><button onclick="close_connect();" class="btn btn-danger">关闭连接</button></div>
		<div id="image-detail">
			
		</div>
	</div>
</div>
<script>
function close_connect(){
	socket.close();
	$("#connect-notify").html('<span>{{address}}已断开连接!!!</span>');
	$("#connect-button").html('<button onclick="reconnect();" class="btn btn-success">重新连接</button>');
}
</script>

{% endblock %}
